<div class="product-image">
	<%= image_tag @product.photo %>
</div>
<div class="product-info">
	<p><%= @product.name %></p>
	<p><%= @product.description %></p>
	<p>Prijs € <%= @product.price %></p>
	<p><%= link_to 'Add', shopping_cart_path(:product_id => @product.id), :method => 'POST' %>
	</p>
</div>