<div class="page-content">
	<div class="new-products overview-products">
		<h2>Onze nieuwste producten</h2>
		<% @productsnew.each do |p| %>
			<div class="product">
					<p><%= link_to p.name, product_index_path(:id => p.id) %></p>
					<p>€ <%= p.price %>
						<% if p.amount - p.count <= 0 %>
						<p class="sold-out">Uitverkocht!</p>
						<% else %>
						<%= button_to 'In winkel wagen', shopping_cart_path(:product_id => p.id), :method => 'POST' %>
						<% end %>
					</p>
					<%= image_tag p.photo %>
				</div> 
		<% end %>
	</div>
	<div class="top-products overview-products">
		<h2>Je ziet hier de drie populairste producten van onze webshop</h2>
		<% @products.each do |p| %>
			<div class="product">
					<p><%= link_to p.name, product_index_path(:id => p.id) %></p>
					<p>€ <%= p.price %>
						<% if p.amount - p.count <= 0 %>
						<p class="sold-out">Uitverkocht!</p>
						<% else %>
						<%= button_to 'In winkel wagen', shopping_cart_path(:product_id => p.id), :method => 'POST' %>
						<% end %>
					</p>
					<%= image_tag p.photo %>
				</div> 
		<% end %>
	</div>
</div>


