<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<header class="navbar navbar-inverse">
	<div class="shoppingcart">
		<%= link_to 'Winkelmand', shopping_cart_path %> 
	</div>
	<% flash.each do |name, msg| %>
	  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
	<% end %>

	<% if user_signed_in? %>
	  Welkom <%= current_user.username %>
	  <%= link_to("Mijn gegevens", user_path(current_user.id)) %>
	  <%= link_to('Loguit', destroy_user_session_path, :method=>'delete') %>
	<% else %>
		<%= link_to('Login', new_user_session_path) %>
		<%= link_to('Registreer', new_user_registration_path) %>
	<%end%>
	<% if @cat == true %>
	<div class="navbar-class">
		<div class="container">

			<ul class="nav navbar-nav">
				<li><%= link_to "Home", home_index_path %></li>
				<% @category.each do |c| %>
				<li><%= link_to c.name, category_index_path(:id => c.id) %></li>
				<% end %>
			</ul>
		</div>
	</div>
	<% end %>
</header>

<%= yield %>

</body>
</html>
